body {
    display: flex;
    flex-direction: column;

}

.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px green solid;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;



}

.page {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.square {
    background-color: white;
    border: 1px solid black;
}

.color {
    background-color: teal;
    border: 1px solid lime;
}